<div class="paginator">
  <%= will_paginate @questions %>
</div>

<div id="main">
<% for question in @questions %>
  <%= render :partial => "questions/question_header", :locals => { :question => question } %>
  <%= render :partial => "questions/question_body", :locals => { :question => question } %>

  <div class="blog_post_footer">
    <b><%= t(:number_of_answers) %>:</b>
    <span id="answers_number_for_question_<%= question.id %>"><%=h question.answers.size %></span>
      <span class="span_separator">|</span>
      <span><%= link_to t(:view_answers), question_path(question) %></span> 
      <span class="span_separator">|</span>
      <span id="add_answer_link_for_question_<%= question.id %>">
       <%= link_to_remote t(:answer),
        {:url => new_question_answer_path(question), 
        :method => :get},
        :href => new_question_answer_path(question)
        %>
      </span>
      <div id="new_answer_form_for_question_<%= question.id %>"></div>
  </div>

<% end %>

  <div class="paginator">
    <%= will_paginate @questions %>
  </div>

</div>

<div id="sidebar">
</div>

