<p>
  <b>Body:</b>
  <%=h @question.body %>
</p>

<p>
  <b>User:</b>
  <%=h @question.user_id %>
</p>

<p>
  <b>Cached tag list:</b>
  <%=h @question.cached_tag_list %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>