<% remote_form_for(@answer, :url => url)  do |f| %>
  <h3><%= t(:new_answer) %></h3>
  <%= f.text_area :body, :cols => 80, :rows => 5 %>
  <p>
  <%= f.submit button_name %> 
  <%= button_to_function t(:cancel) do |page|
        page.show "add_answer_link_for_question_#{@question.id}" 
        page.visual_effect :blind_up, "new_answer_form_for_question_#{@question.id}"
      end %>
  </p>
 <h3><%= t(:dynamic_preview) %></h3>
 <div class="wmd-preview"></div>
<% end %>


