<h1><%= t(:new_study_program) %></h1>
<% remote_form_for(@study_program) do |f| %>
  <%= f.error_messages %>
 
  <p>
    <%= f.label t(:title) %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.hidden_field :category_list, :value => categories %>
    <%= f.hidden_field :subject_area_id, :value => subject_area_id %>
    <%= hidden_field_tag :concept_type, "study_program" %>
    <%= f.submit t(:create) %>
  </p>
<% end %>
