<h1><%= t(:new_exchange_program) %></h1>
<% remote_form_for(@exchange_program) do |f| %>
  <%= f.error_messages %>
 
  <p>
    <%= f.label t(:title) %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.hidden_field :category_list, :value => categories %>
    <%= hidden_field_tag :concept_type, "exchange_program" %>
    <%= f.submit t(:create) %>
  </p>
<% end %>



