<h1><%= @title %></h1>

<div id="main">
<% form_for(@concept) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t(:title) %>
   <%= f.text_field :title, :size => 60 %>
  </p>

  <p>
    <%= f.label t(:categories_with_hint) %>
    <%= f.text_field :category_list, :size => 60 %>
  </p>

  <%= render "revision", :current_revision => @current_revision,  :object => Revision.new %> 


  <% if can? :delete, Concept %>
    <p>
      <%= f.label :goout_intern %>
      <%= f.check_box :goout_intern %>
    </p>
  <% end %>

 <h3><%= t(:dynamic_preview) %></h3>

 <div class="wmd-preview"></div>

  <p>
    <%= f.submit t(:update) %>
  </p>
<% end %>

<%= link_to t(:back), concepts_path %>
<span class="span_separator">|</span>
<%= link_to t(:show), concept_path(@concept.title) %> 

</div>

<div id="sidebar">
  <%= render :partial => "markup_help" %>  
</div>
