<h1><%= t(:new_page) %></h1>

<div id="main">
<% form_for(@concept) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, t(:title) %>
    <%= f.text_field :title, :size => 60 %>
  </p>

  <p>
    <%= f.label t(:categories_with_hint) %>
    <%= f.text_field :category_list, :size => 60 %>
  </p>

  <%= render "revision", :current_revision => @current_revision,  :object => Revision.new %> 

  <% if can? :delete, Concept %>
    <p>
      <%= f.label :goout_intern %>
      <%= f.check_box :goout_intern %>
    </p>
  <% end %>
  <p>

 <h3><%= t(:dynamic_preview) %></h3>

 <div class="wmd-preview"></div>

  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>

<%= link_to t(:back), concepts_path %>

</div>

<div id="sidebar">
  <%= render :partial => "markup_help" %>  
</div>

