<div style="float: right">
  <iframe src="http://www.facebook.com/plugins/like.php?href=www.go-out.lt&amp;layout=standard&amp;show_faces=true&amp;width=350&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px; height:80px;" allowTransparency="true"></iframe>
</div>

  
<div id="main">
  <%= @renderer.display_content %>

  <div class="box">
    <%= link_to t(:unanswered_questions), unanswered_questions_path %>
  </div>

  <h3><%= t(:last_wiki_updates) %></h3>

  <div class="wiki_updates">
    <% CustomLogger.last_entries.each do |line| %>
      <%=line + "<br />" %>
    <% end %>
  </div>

</div>

<div id="sidebar">
  <div style="width: 400px; margin-bottom: 10px; padding: 4px; float: right" class="with_border">
  Parsisiųsk svetainės programinį kodą!<br />
  <a href="https://github.com/ezhux/goov2">https://github.com/ezhux/goov2/</a>
  </div>
  <div style="width: 400px; padding: 4px; float: right" class="with_border">
    <h3><%= t(:project_blog) %></h3>
    <h4><%= @post.title %></h4>
    <span class="smaller"><%= l @post.published, :format => :long %></span>
    <br />
    <%= @post.body %>
  <br />
    <%= link_to t(:more), :controller => "site", :action => "blog" %>
  </div>

</div>



