<div id="activity_<%= activity.id %>" class="activity">
    <% if can? :destroy, activity %>
    <span class="delete_link" id="delete_activity_link_<%= activity.id %>" style="float: right;">
        <%= link_to_remote t(:delete), 
        :url => user_activity_path(current_user, activity.id),
        :method => :delete,
        :confirm => t(:are_you_sure) %>
    </span>
    <% end %>

  <div>
    <%=  activity.country.title unless activity.country.blank? %>
  </div>

  <div>
    <%= t( activity.activity_type) unless activity.activity_type.blank? %> 

    <% if activity.activity_type == ACTIVITIES[1].to_s %>
      <%= "- " + activity.exchange_program.title unless activity.exchange_program.blank? %>
    <% end %>

  </div>

  <span><%= activity.from %></span> - <span><%= activity.current ? t(:current) : activity.to %></span>

  <div>
    <%= activity.organization.title unless activity.organization.blank? %>
  </div>

  <% if activity.activity_type == ACTIVITIES[1].to_s %>
    <div>
      <%= activity.activity_area.title unless activity.activity_area.blank? %>
    </div>
  <% end %>

  <% if (activity.activity_type == ACTIVITIES[0].to_s || activity.activity_type == ACTIVITIES[1].to_s ) %>
    <div>
      <%= link_to activity.study_program.title, page_path(activity.study_program.title) unless activity.study_program.blank?%>
    </div>
  <% end %>

  <br />
</div>
