<h1>Listing activities</h1>

<table>
  <tr>
    <th>Type</th>
    <th>User</th>
    <th>Study program</th>
    <th>Exchange program</th>
    <th>Activity area</th>
    <th>From</th>
    <th>To</th>
    <th>Current</th>
    <th>Country</th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%=h activity.type %></td>
    <td><%=h activity.user_id %></td>
    <td><%=h activity.study_program_id %></td>
    <td><%=h activity.exchange_program_id %></td>
    <td><%=h activity.activity_area_id %></td>
    <td><%=h activity.from %></td>
    <td><%=h activity.to %></td>
    <td><%=h activity.current %></td>
    <td><%=h activity.country_id %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New activity', new_activity_path %>