<h2><%=t :login %></h2>

<div class="float_left standard_width">
  <fieldset>
    <legend><%=t :enter_your_details %></legend>

<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
    <label for="username"><%=t :username %></label>
      <div class="form_row">
        <%= f.text_field :username, :size => User::USERNAME_SIZE, :maxlength => User::USERNAME_MAX_LENGTH%>
      </div>

    <label for="password"><%=t :password %></label>
    <div class="form_row">
      <%= f.password_field :password, :size => User::PASSWORD_SIZE, :maxlength => User::PASSWORD_MAX_LENGTH %>
    </div>

    <label for="remember_me"><%=t :remember_me %></label>
    <div class="form_row"> 
      <%= f.check_box :remember_me %>
    </div>

    <div class="form_row">
      <%= link_to t(:forgot_password), new_password_reset_path %>
    </div>

  <p>
    <%= f.submit t(:login) %>
  </p>

<% end %>
   </fieldset>
</div>
